
<% provide(:title, 'About') %>

<h2>About Batomatic</h2>

<p class="midlish">Batomatic displays baseball pitching and batting statistics for all players on the field, and allows you to drill down into those stats.  1970 to 2015, regular season only.</p>


<p class="midlish">  You can find the batting average of all players against a given second baseman, for instance. Or see which left-fielder allowed the fewest walks in 1988.
  Or sort a pitcher's ERA, broken down by who is playing shortstop. Or who is playing left field.  Or who is playing shortstop AND who is playing left field.
  Or by who is playing all nine positions (if you're completely nuts), and who the baserunner is on third. And so on.</p>

<p class="midlish">  All stats apply both to the batter (or batting team) and to the fielders.
  ERA, for instance, was originally used as an offensive stat and with Batomatic it can be used that way once again. Some stats make a lot more sense than others when sifted this way, but it's up to you.

<p class="midlish">The information used here was obtained free of charge from and is copyrighted by the outstanding Retrosheet, which is linked to at the bottom left of each page.   Any errors are the fault of this site and not Retrosheet.</p>

<!-- this is a comment

Many thanks to:

www.retrosheet,org  Amazing stuff. I don't know how they do it. All volunteer, it seems...

www.baseball-reference.com   The bible of baseball stats.

Footables.  Mobile screens are probably going to kill off spreadsheet style data presentation, but footable makes all things possible.
I used an older version -- find the newest version at Github.

-->
