<% provide(:title, 'Help') %>

<h2>Help!  Help!</h2>


<p class="midlish">Batomatic output:</p>
<p class="midlish"> No results?  See "No Results?" below. </p>
<p class="midlish">Output is in a row/column format.  Rows go left to right.  Columns go top to bottom.  If you show all the Yankee batting stats for 1983, for instance ( start by and end by dates selected, and group by batter box checked),
  each batter gets a row of output (left to right) and each stat -- avg, hits, at_bats, and so on -- is a column (top to bottom).</p>
<p class="midlish"> Results can always be sorted on any column by clicking on the column header</p>
<p class="midlish"> "Group by" is the most helpful option for just messing around with data. You can start with a batter (or anything), and then group by any number of combinations:  year, and /or fielding team, and /or pitcher, or whatever.  Then you can sort the results by clicking on a column header.</p>
<p class="midlish"> On smaller screens, there may not be enough real estate to display all the column data.  Don't worry -- it's there.
The leftmost column will display a plus sign to indicate more data.  Click on the plus sign and the additional data will appear
  (and the plus sign will change to a minus sign -- click on that to revert to the original display).
  </p>

<p class="midlish"> See "Flush left" and "Suppress" below for help with restricting table width or changing column order for smaller screens.</p>

<p class="midlish"> For info on the input fields, click below. </p>






<div class="help_container">
  <div class="accordion" id="accordion2">

     <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          Batting Help
        </a>
      </div>
      <!--  <div id="collapseOne" class="accordion-body collapse in">     -->
      <div id="collapseOne" class="accordion-body collapse">
        <div class="accordion-inner">
          <p class="midlish">  Enter search criteria for the batting team, batter, or baserunners here. You may enter many fields or none. Team selections transform to a three-character abbreviation. For team abbreviations see below.
          </p>
          <p class="midlish">  The batter is the player at the plate only.   If you enter "Derek Jeter" as a batter any fielders you show (with group by, or by specifying them) will be limited to those playing defense on the opposing teams while Jeter is batting.  To see Jeter's fellow fielders, enter him as a shortstop in "Fielding." In that case when you group by, say, third base you will see stats broken down by all the third basemen Jeter played with.
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          Fielding Help
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <p class="midlish">  Enter search criteria for the fielding team or players here. You may enter many fields or none.  Team selections transform to a three-character abbreviation. For team abbreviations see below.</p>

        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          Limits Help
        </a>
      </div>
      <div id="collapseThree" class="accordion-body collapse">
        <div class="accordion-inner">
          <p class="midlish">  Dates:  A date range will help performance, and helps weed out data you are not interested in.  Enter start or end dates here.   Format is mm/dd/yyyy.  If instead of using the datepicker you manually edit the date keep that mm/dd/yyyy format -- anything else is ignored </p>
          <p class="midlish">  At-bat minimum:  Helpful when looking for league leaders, not so good when looking at, say, the St Louis Cardinals as a team for 1983.  You decide.  Default is no minimum.</p>
        </div>
      </div>
    </div>
    <!--   This is a comment   -->
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
          Grouping Help
        </a>
      </div>
      <div id="collapseFour" class="accordion-body collapse">
        <div class="accordion-inner">
          <p class="midlish"> Grouping is your friend!  THE best tool for drilling down into data.  Start with a batter and year,
             for instance, and then add fielding team, pitchers, runners on third, whatever, to get more and more detail.
             Or,as another example, if you are unsure who might have played right field for a team, get the team data (for a given year is quickest)  grouped by right field(or pitcher or left field or whatever) to
           see all the right fielders.  Many possibilities here.</p>

          <div class="groupies-by">
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
          Flush Left Help
        </a>
      </div>
      <div id="collapseFive" class="accordion-body collapse">
        <div class="accordion-inner">
          <div class="groupies-by">
            <p class="midlish"> You can alter the default column order here.  You may be particularly interested in hit by pitch, for example -- it is easier to follow it it is the leftmost column
            Especially with smaller screen sizes you may opt to reposition a column or columns of interest to the left.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
          Suppress Help
        </a>
      </div>
      <div id="collapseSix" class="accordion-body collapse">
        <div class="accordion-inner">
          <div class="groupies-by">

            <p class="midlish">  You may not want to see a default column at all -- you may be on a small screen, or you may have added a lot of supplemental columns through "group_by.".  Check the box here to hide it.</p>
            <p class="midlish"> Special case -- The  Delimit Checkbox:  Results are limited to 250 rows. For most inquiries, you probably won't even look that far.
              Some inquiries can return thousands of rows, which will take forever to load.  If you are sure you want more than 250 rows, check this
              box, but be careful what you ask for.</p>

          </div>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
          No Results?
        </a>
      </div>
      <div id="collapseSeven" class="accordion-body collapse">
        <div class="accordion-inner">
          <div class="groupies-by">

            <p class="midlish">  Check for misspelled player names.  It's safest to select names frorm the drop down lists offered.</p>

            <p class="midlish">  Check that the batting or fielding team entry is a three character code.  You do not have to know the code -- when you type in a team name or a partial team name and then select from the drop down list the proper code will be inserted.</p>

            <p class="midlish">  Check that dates, if entered, are correct.  If you look for Jeter stats from 1970 to 1975 you won't get anything.</p>

            <p class="midlish">  Check for combinations that cannot exist -- Jeter playing shortstop with Pedroia at second, for instance, or Glavine pitching for the Padres.  Keep paring back selection fields until you get a result, and then use "group by" to find valid combinations.  For instance, with Derek Jeter at shortstop, group by second base to see all the second basemen he played with -- which won't include Pedroia. Then limit the results by one of the second basemen, if you choose, and then group that by left field, or batter, or whatever.  Drill down as much as you like.</p>

          </div>
        </div>
      </div>
    </div>



    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseZero">
          Team Codes
        </a>
      </div>
      <!--  <div id="collapseOne" class="accordion-body collapse in">     -->
      <div id="collapseZero" class="accordion-body collapse">
        <div class="accordion-inner">
          <p class="smallish">You do not have to enter these yourself.  Selecting a team from the drop down list will insert the proper code.</p>
          <br>
          <p class="smallish">Anaheim Angels ANA</p>
          <p class="smallish">Arizona Diamondbacks ARI</p>
          <p class="smallish">Atlanta Braves ATL</p>
          <p class="smallish">Baltimore Orioles BAL</p>
          <p class="smallish">Boston Red Sox BOS</p>
          <p class="smallish">California Angels CAL</p>
          <p class="smallish">Chicago Cubs CHN</p>
          <p class="smallish">Chicago White Sox CHA</p>
          <p class="smallish">Cincinnati Reds CIN</p>
          <p class="smallish">Chicago White Sox CHA</p>
          <p class="smallish">Cincinnati Reds CIN</p>
          <p class="smallish">Cleveland Indians CLE</p>
          <p class="smallish">Colorado Rockies COL</p>
          <p class="smallish">Detroit Tigers DET</p>
          <p class="smallish">Florida Marlins FLO</p>
          <p class="smallish">Houston Astros HOU</p>
          <p class="smallish">Kansas City Royals KCA</p>
          <p class="smallish">Los Angeles Angels ANA</p>
          <p class="smallish">Los Angeles Dodgers LAN</p>
          <p class="smallish">Miami Marlins MIA</p>
          <p class="smallish">Milwaukee Brewers MIL</p>
          <p class="smallish">Minnesota Twins MIN</p>
          <p class="smallish">Montreal Expos MON</p>
          <p class="smallish">New York Mets NYN</p>
          <p class="smallish">New York Yankees NYA</p>
          <p class="smallish">Oakland Athletics OAK</p>
          <p class="smallish">Philadelphia Phillies PHI</p>
          <p class="smallish">Pittsburgh Pirates PIT</p>
          <p class="smallish">San Diego Padres SDN</p>
          <p class="smallish">San Francisco Giants SFN</p>
          <p class="smallish">Seattle Mariners SEA</p>
          <p class="smallish">St. Louis Cardinals SLN</p>
          <p class="smallish">Tampa Bay Devil Rays TBA</p>
          <p class="smallish">Tampa Bay Rays TBA</p>
          <p class="smallish">Texas Rangers TEX</p>
          <p class="smallish">Toronto Blue Jays TOR</p>
          <p class="smallish">Washington Nationals WAS</p>
          <p class="smallish">Washington Senators TEX</p>
        </div>
      </div>
    </div>



  </div>
</div>