<header class="navbar navbar-fixed-top navbar-poopsie">
  <div class="navbar-inner">
    <div class="container">
      <!--<%= link_to "batomatic", '#', id: "logo" %>   -->
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<div id="picts">
  <div id="leftwing">
    <a href="http://www.anatoliankitchenpaloalto.com/">
    <img src='/assets/anatolian.png' alt="anatolian">
    </a>
  </div>
  <div id="rightwing">
    <a href="http://www.theholydonut.com/">
    <img src='/assets/holydonut.png' alt="holydonut">
    </a>
  </div>
  <div id="bigdaddy">
    <img src='/assets/batomatic.png' alt="Batomatic">
  </div>

</div>
<!--
<div id="picts">
  <div id = "leftwing"
  <img src='/assets/anatolian2.png' alt="anatolian">
  </div>
  <div id = "bigdaddy"
  <img src='/assets/batopic.png' alt="Batomatic">
  <div>
  <div id = "rightwing"
  <img src='/assets/holydonut2.png' alt="holydonut">
  </div>
</div>
-->